*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #020A18;
}
.container{
    max-width: 1240px;
    width: 100%;
    padding: auto;
    margin: 20px auto;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #07101f;
}
.header ul{
  display: flex;
  gap: 40px;
  list-style: none;
}
.header a{
    text-decoration: none;
    color: white;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}
.header button{
    padding: 15px 30px;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
background-color: #3A68B8;
color: white;
border: none;
border-radius: 5px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero>.text>h3{
font-weight: 600;
font-size: 18px;
line-height: 160%;
letter-spacing: 0%;
color: #3A68B8;
}
.hero>.text>h1{
font-weight: 800;
font-size: 55px;
line-height: 130%;
letter-spacing: 0%;
color: white;

}
.hero>.text>p{
font-weight: 500;
font-size: 15px;
line-height: 160%;
letter-spacing: 0%;
 color: white;
 margin: 30px 0px;
}

button{
    padding: 15px 30px;
    color: white;
    background-color: #3A68B8;
    border: none;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
border-radius: 5px;
}
.logo{
    margin-top: 89px;
display: flex;
gap: 72px;
}
#section1{
    margin-top: 130px;
}
.section1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section1 h2{
    color: white;
font-weight: 700;
font-size: 40px;
line-height: 130%;
letter-spacing: 0%;

}
.section1 p{
  color: white;
font-weight: 500;
font-size: 18px;
line-height: 160%;
letter-spacing: 0%;
 margin: 30px 0px;
}
.section1>img{
    width: 650px;
}
.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#section2{
    margin-top: 200px;
}
.section2>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #1d283b;
    height: 250px;
    width: 220px;
    border-radius: 5px;
}
.section2 h3{
font-weight: 700;
font-size: 15px;
line-height: 125%;
letter-spacing: 0%;
 color: #cacaca;
 text-align: center;
}
.section2 p{
font-weight: 600;
font-size: 11px;
line-height: 160%;
letter-spacing: 0%;
color: #cacaca;
text-align: center;
}
.section3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section3>.text>h2{
font-weight: 700;
font-size: 39px;
line-height: 130%;
letter-spacing: 0%;
color: white;
}
.section3>.text>p{
    color: white;
font-weight: 600;
font-size: 15px;
line-height: 160%;
letter-spacing: 0%;
margin-top: 30px;
}
#section3{
    margin-top: 200px;
}
.footer>.d1{
    display: flex;
    flex-direction: column;
}
.footer>div>a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
.footer>.d1>p{
    color: rgb(163, 163, 163);
    margin:20px 0px;
font-weight: 450;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
}
.footer>.d2>p{
    color: rgb(163, 163, 163);
    margin:20px 0px;
font-weight: 450;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;

}
.footer>.d2>h3{
    color: white;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    margin-top: 200px;
}
.footer>.d3>svg{
    margin-right: 10px;
}
.footer>.d3>p{
font-weight: 450;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgb(163, 163, 163);
margin: 30px 0px;
}
.footer>.d3>h3{
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: white;
}